.publishedTabContainer {
    margin-bottom: 5rem;
    border-top-right-radius: 8px;
    box-shadow:
        1.2rem 1.2rem 35px 22px var(--table-box-shadow);
}

.toggleTabContainer {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 14rem;
}
.toggleTabContainer:hover {
    cursor: pointer;
}

.allContractsButtonSelected {
    color: var(--toggle-table-button-selected-color);
    background-color: var(--toggle-table-button-selected-bg);
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 8px 0 0 0;
    height: 2.4rem;
}

.allContractsButtonNotSelected {
    color: var(--toggle-table-button-not-selected-color);
    background-color: var(--toggle-table-button-not-selected-bg);
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 8px 0 0 0;
}

.myContractsButtonSelected {
    color: var(--toggle-table-button-selected-color);
    background-color: var(--toggle-table-button-selected-bg);
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 0 8px 0 0;
    height: 2.4rem;
}

.myContractsButtonNotSelected {
    color: var(--toggle-table-button-not-selected-color);
    background-color: var(--toggle-table-button-not-selected-bg);
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 0 8px 0 0;
}

.publishedTabHead,
.publishedTabContent {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 0rem;
    width: 65rem;
}

.publishedTabContentContainer {
    max-height: 14.2rem; 
    overflow-y: scroll !important;
}
.publishedTabContentContainer::-webkit-scrollbar {
    display: none;
}

.publishedTabHead caption {
    background-color: var(--caption-background-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--caption-font-color);
    text-align: center;
    padding: 0.9rem 0.4rem 0.6rem 0.4rem;
    border-radius: 0 8px 0 0;
}

.contractCol {
    width: 14%;
}
.instancesCol {
    width: 9%;
}
.authorCol {
    width: 57%;
}
.versionCol {
    width: 12%;
}
.deployCol {
    width: 8%;
}

.instancesThead {
    text-align: center;
}
.instancesTd {
    text-align: center;
}

.tabMessage {
    color: var(--toggle-table-button-selected-color);
    padding: 0.5rem;
    width: 65rem;
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.publishedTabHead thead {
    background-color: var(--thead-background-color);
    color: var(--thead-font-color);
    font-weight: bold;
    text-align: left;
}

.publishedTabHead thead th,
.publishedTabContent tbody td {
    padding: 0.4rem 0.5rem;
}

.publishedTabContent tbody td {
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
}

.publishedTabContent tbody tr {
    color: var(--tr-font-color);
    border-bottom: 1px solid var(--tr-border-bottom-color);
    position: relative;
}

.publishedTabContent tbody tr:nth-of-type(even) {
    background-color: var(--tr-nth-of-type);
}

.contractCell {
    text-overflow: scroll;
}
.contractCell::-webkit-scrollbar {
    display: none;
}
.publishedTabContentContainer td {
    overflow-x: scroll;
}
.publishedTabContentContainer td::-webkit-scrollbar {
    display: none;
}

.deployIconCell {
    text-align: center;
}

.deployIcon:hover {
    fill: rgba(184, 77, 27, 0.83);
}

.load {
    color: #8d8c8cbb;
    font-size: 1.5rem;
    font-style: italic;
}

.deployingMessage {
    display: flex;
    align-items: center;
    font-size: 0.65rem;
}

.popupContainer {
    background-color: var(--popup-background-color);
    color: var(--popup-font-color);
    font-family: Arial, Helvetica, sans-serif;
    width: 40rem;
    border-radius: 10px;
    border: solid 1px rgb(76, 75, 75);
}
.bumpingPopupContainer {
    background-color: var(--popup-background-color);
    color: var(--popup-font-color);
    font-family: Arial, Helvetica, sans-serif;
    width: 40rem;
    border-radius: 10px;
    border: solid 1px rgb(76, 75, 75);
}
.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    padding: 0.7rem;
}
.nameColor {
    color: var(--popup-important-font-color);
}
.content {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

.deployedNameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.deployedNameInput {
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0.6rem;
    width: 45%;
    background-color: transparent;
    padding: 0.5rem 0.4rem;
    border: 1px solid gray;
    border-radius: 5px;
    color: var(--popup-input-font-color);
}
.deployedNameInput::placeholder {
    color: rgba(128, 128, 128, 0.51);
}

.bumpContainer {
    text-align: justify;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

.bumpContainer > p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--popup-input-font-color);
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
    margin-left: 0.9rem;
}
.checkboxContainer > div {
    display: flex;
    margin-top: 0.4rem;
}
.checkboxContainer > div > input[type="checkbox"] {
    transform: scale(1.5); 
    margin-right: 0.5rem;
    accent-color: rgb(18, 194, 18);
}
.checkboxContainer > div > label {
    font-size: 1rem;
    color: var(--popup-input-font-color);
}

.buttonContainer {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom:  1rem;
    text-align: center;
}

.button {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.2rem 2.5rem 0.2rem 2.5rem;
    width: 15rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--popup-button-background-color);
    color: var(--popup-button-font-color);
    border: 1.5px solid var(--popup-button-font-color);
    border-radius: 5px;
}
.button:hover {
    background-color: var(--popup-button-hover);
}
.buttonDisabled {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.2rem 2.5rem 0.2rem 2.5rem;
    width: 15rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--popup-button-disabled-background-color);
    color: var(--popup-button-disabled-font-color);
    border: 1.5px solid var(--popup-button-disabled-font-color);
    border-radius: 5px;
}
.buttonWhenDeploying {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0.2rem 2.5rem 0.2rem 2.5rem;
    width: 15rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--popup-button-background-color);
    color: var(--popup-button-font-color);
    border: 1.5px solid var(--popup-button-font-color);
    border-radius: 5px; 
}
  
.close {
    cursor: pointer;
    outline: none;
    color: red;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}


.dropdownControl {
    display: flex;
    width: 4.8rem;
    justify-content: space-between;
    padding: 0.3rem 0.2rem 0.3rem 0.2rem;
    border-radius: 10px;
}
.dropdownControl:hover {
    background-color: rgba(128, 128, 128, 0.216);
    cursor: pointer;
}

.dropdownMenu {
    position: absolute;
    top: 1.8rem;
    border-radius: 3px;
    z-index: 1;
    padding: 0.2rem 0.3rem;
    width: 4.8rem;
    background-color: rgb(187, 186, 184);
    font-size: 0.7rem;
    border: solid 1px rgb(6, 6, 6);
}

.dropdownMenu > div {
    list-style: disc inside;
    font-weight: 600;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid gray;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}
.dropdownMenu > div:last-child {
    border-bottom: none;
}
.dropdownMenu > div::before {
    content: "\2022";
    margin-right: 0.5rem;
}