.deployedTabContainer {
    margin-bottom: 3rem;
    border-top-right-radius: 8px;
    box-shadow:
        1.2rem 1.2rem 35px 22px var(--table-box-shadow);
}

.toggleTabContainer {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    width: 14rem;
}
.toggleTabContainer:hover {
    cursor: pointer;
}

.allContractsButtonSelected {
    color: var(--toggle-table-button-selected-color);
    background-color: var(--toggle-table-button-selected-bg);
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 8px 0 0 0;
    height: 2.4rem;
}

.allContractsButtonNotSelected {
    color: var(--toggle-table-button-not-selected-color);
    background-color: var(--toggle-table-button-not-selected-bg);
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 8px 0 0 0;
}

.myContractsButtonSelected {
    color: var(--toggle-table-button-selected-color);
    background-color: var(--toggle-table-button-selected-bg);
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 0 8px 0 0;
    height: 2.4rem;
}

.myContractsButtonNotSelected {
    color: var(--toggle-table-button-not-selected-color);
    background-color: var(--toggle-table-button-not-selected-bg);
    font-size: 0.9rem;
    padding: 0.6rem;
    border-radius: 0 8px 0 0;
}

.deployedTabHead,
.deployedTabContent {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 0rem;
    width: 65rem;
}

.deployedTabContentContainer {
    max-height: 40rem; 
    overflow-y: scroll;
}
.deployedTabContentContainer::-webkit-scrollbar {
    display: none;
}

.deployedTabHead caption {
    background-color: var(--caption-background-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--caption-font-color);
    text-align: center;
    padding: 0.9rem 0.4rem 0.6rem 0.4rem;
    border-radius: 0 8px 0 0;
}

.contractCol {
    width: 18%;
}
.addressCol {
    width: 55%;
}
.fromCol {
    width: 12%;
}
.ttlCol {
    width: 15%;
}

.tabMessage {
    color: var(--toggle-table-button-selected-color);
    padding: 0.5rem;
    width: 65rem;
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.tabMessage {
    color: var(--toggle-table-button-selected-color);
    padding: 0.5rem;
    width: 65rem;
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.deployedTabHead thead {
    background-color: var(--thead-background-color);
    color: var(--thead-font-color);
    font-weight: bold;
    text-align: left;
}
.ttlThead {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: first baseline;
}
.ttlInfoIcon {
    cursor: pointer;
    margin-left: 0.1rem;
    transform: scale(0.6);
}
.popupContainer {
    display: flex;
    align-items: center;
    position: absolute;
    left: 63%;
}
.arrow {
    transform: scale(1.5);
}
.ttlPopUpContent {
    position: absolute;
    left: 63%;
    text-align: justify;
    font-size: 0.5rem;
    width: 5.5rem;
    color: var(--ttl-popup-text-color);
    padding: 0.3rem;
    background-color: var(--ttl-popup-bg-color);
    border-radius: 4px;
    border: none;
}
.copyPopupContainer {
    position: absolute;
    left: 65%;
}
.copyPopUpContent {
    text-align: center;
    font-size: 0.5rem;
    width: 5.5rem;
    color: var(--ttl-popup-text-color);
    padding: 0.3rem;
    background-color: var(--ttl-popup-bg-color);
    border-radius: 4px;
    border: none;
}
.relativeRow {
    position: relative;
}
.ttlTd {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
}
.bumpLine {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    font-style: italic;
}
.fromTd {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deployedTabHead thead th,
.deployedTabContent tbody td {
    padding: 0.4rem 0.5rem;
}

.deployedTabContent tbody td {
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
}
.deployedTabContent tbody tr {
    color: var(--tr-font-color);
    border-bottom: 1px solid var(--tr-border-bottom-color);
}

.deployedTabContent tbody tr:nth-of-type(even) {
    background-color: var(--tr-nth-of-type);
}

.contractCell {
    text-overflow: scroll;
}
.contractCell::-webkit-scrollbar {
    display: none;
}
.deployedTabContentContainer td {
    overflow-x: scroll;
}
.deployedTabContentContainer td::-webkit-scrollbar {
    display: none;
}

.clipboardIconCell {
    text-align: center;
}
.clipboardIcon:hover {
    fill: rgba(184, 77, 27, 0.83);
}
.copiedMessage {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.load {
    color: #8d8c8cbb;
    font-size: 1.5rem;
    font-style: italic;
}