.deployedTabContainer {
    margin-bottom: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:
        1.2rem 1.2rem 35px 22px var(--table-box-shadow);
}

.deployedTabHead,
.deployedTabContent {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 0rem;
    width: 55rem;
}

.deployedTabContentContainer {
    max-height: 40rem; 
    overflow-y: scroll;
}
.deployedTabContentContainer::-webkit-scrollbar {
    display: none;
}

.deployedTabHead caption {
    background-color: var(--caption-background-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--caption-font-color);
    text-align: center;
    padding: 0.9rem 0.4rem 0.6rem 0.4rem;
    border-radius: 8px 8px 0 0;
}

.contractCol {
    width: 24%;
}
.addressCol {
    width: 67%;
}
.copyCol {
    width: 9%;
}

.deployedTabHead thead {
    background-color: var(--thead-background-color);
    color: var(--thead-font-color);
    font-weight: bold;
    text-align: left;
}
.copyThead {
    text-align: center;
}

.deployedTabHead thead th,
.deployedTabContent tbody td {
    padding: 0.4rem 0.5rem;
}

.deployedTabContent tbody td {
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
}
.deployedTabContent tbody tr {
    color: var(--tr-font-color);
    border-bottom: 1px solid var(--tr-border-bottom-color);
}

.deployedTabContent tbody tr:nth-of-type(even) {
    background-color: var(--tr-nth-of-type);
}

.contractCell {
    text-overflow: ellipsis;
}
.contractCell::-webkit-scrollbar {
    display: none;
}
.deployedTabContentContainer td {
    overflow-x: scroll;
}
.deployedTabContentContainer td::-webkit-scrollbar {
    display: none;
}

.clipboardIconCell {
    text-align: center;
}
.clipboardIcon:hover {
    fill: rgba(184, 77, 27, 0.83);
}
.copiedMessage {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.load {
    color: #8d8c8cbb;
    font-size: 1.5rem;
    font-style: italic;
}