.popupContainer {
    background-color: var(--popup-background-color);
    color: var(--popup-font-color);
    font-family: Arial, Helvetica, sans-serif;
    width: 60rem;
    border-radius: 10px;
    border: solid 1px rgb(76, 75, 75);
}
.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    padding: 0.7rem;
}
.content {
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.7rem;
}
.content > p {
    line-height: 1.5;
    margin-bottom: 0.9rem;
} 
.content > p > a {
    color: var(--popup-important-font-color);
    outline: none;
}

.mainMessage {
    margin-bottom: 0.8rem;
}

.checkbox {
    margin-right: 0.5rem;
    background-color: antiquewhite;
}
.label {
    font-size: 0.9rem;
}

.buttonContainer {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom:  1rem;
    text-align: center;
}

.understood {
    padding: 0.2rem 2.5rem 0.2rem 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--popup-button-background-color);
    color: var(--popup-button-font-color);
    border: 1.5px solid var(--popup-button-font-color);
    border-radius: 5px;
}
.understood:hover {
    background-color: var(--popup-button-hover);
}