---
import "../css/global.css";
import "../css/uikit.min.css";
---

<html>
  <head>
    {/* Basic meta tags for SEO */}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartDeploy || Ready. Set. SmartDeploy!</title>
    <meta
      name="description"
      content="Easily manage smart contracts on Soroban with our all-in-one platform for publishing, deploying, invoking, and upgrading contracts."
    />
    <meta
      name="keywords"
      content="smartdeploy, smart deploy, TENK, TENK DAO, stellar, stellar soroban, stellar xlm, xlm, smart contract management, soroban, smart contract deployment, user-friendly, secure platform, contract deployment, developers, tools, smart contracts, contract management, blockchain technology, DAO, decentralized finance, ethereum, cryptocurrency, NFT, tokenization, solidity, Ethereum development, smart contract security, blockchain solutions, DeFi solutions, decentralized applications, Web3, crypto assets, digital tokens, governance tokens"
    />

    {/* Open Graph meta tags */}
    <meta
      property="og:title"
      content="SmartDeploy || Ready. Set. SmartDeploy!"
    />
    <meta
      property="og:description"
      content="Easily manage smart contracts on Soroban with our all-in-one platform for publishing, deploying, invoking, and upgrading contracts."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://smartdeploy.dev" />
    <meta
      property="og:image"
      content="https://smartdeploy.dev/images/demo.png"
    />

    {/* Twitter Card meta tags */}
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="SmartDeploy || Ready. Set. SmartDeploy!"
    />
    <meta
      name="twitter:description"
      content="Easily manage smart contracts on Soroban with our all-in-one platform for publishing, deploying, invoking, and upgrading contracts."
    />
    <meta
      name="twitter:image"
      content="https://smartdeploy.dev/images/demo.png"
    />

    {/* Site Icons */}
    <link rel="icon" href="img/favicon.ico" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />

    {/* CSS Imports */}
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="content">
      <header class="uni-header uk-position-top">
        <div
          class="uni-header-navbar"
          data-uk-sticky="top: 70; show-on-up: false; animation: uk-animation-slide-top"
          data-anime="opacity:[0, 1]; translateY:[-24, 0]; onview: true; delay: 0;"
        >
          <div class="uk-container">
            <nav class="uk-navbar uk-navbar-container uk-navbar-transparent">
              <div class="uk-navbar-top">
                <div class="uk-navbar-left">
                  <a
                    href="https://www.smartdeploy.dev/"
                    class="uk-logo uk-navbar-item uk-h4 uk-h3@m uk-margin-remove"
                  >
                    <img
                      class="uk-visible dark:uk-hidden"
                      width="120"
                      src="img/sd-logo-blk.png"
                      alt="SmartDeploy"
                      loading="lazy"
                    />
                    <img
                      class="uk-hidden dark:uk-visible"
                      width="120"
                      src="img/sd-logo-wht.png"
                      alt="SmartDeploy"
                      loading="lazy"
                    />
                  </a>
                </div>

                <div class="uk-navbar-right uk-flex-1 uk-flex-right">
                  <div class="uk-navbar-item">
                    <ul class="uk-subnav uk-subnav-small uk-visible@m">
                      <li>
                        <a href="https://twitter.com/TENKDAO">
                          <i class="fa-brands fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://discord.gg/6fKqnSfr">
                          <i class="fa-brands fa-discord"></i>
                        </a>
                      </li>
                      <li>
                        <a
                          href="https://github.com/TENK-DAO/smartdeploy-frontend"
                        >
                          <i class="fa-brands fa-github-alt"></i>
                        </a>
                      </li>
                    </ul>
                    <a
                      id="freighterButton"
                      href="#connect_wallet"
                      class="uk-button uk-button-medium@m uk-button-default uk-button-outline uk-margin-left"
                      onclick="
                      checkUserAndRender()
                      "
                    >
                      <span>Connect Wallet</span>
                    </a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <main style="margin: 0 auto; max-width: 100vw; padding-bottom: 2rem">
        <div
          id="hero"
          class="uni-hero uk-blend-overlay uk-section uk-section-xlarge uk-padding-remove-bottom uk-panel"
        >
          <img
            class="uk-position-top-left uk-position-fixed uk-blur-large object-x"
            style={{ left: "-4%", top: "-4%" }}
            width="500"
            src="img/gradient-circle.svg"
            alt="Circle"
          />
          <img
            class="uk-position-bottom-right uk-position-fixed uk-blur-large object-x"
            style={{ right: "-4%", bottom: "-4%" }}
            width="500"
            src="img/gradient-circle.svg"
            alt="Circle"
          />
        </div>
        <div
          class="uk-position-top uk-position-z-index"
          data-uk-height-viewport=""
        >
          <div
            class="uk-position-cover uk-background-cover uk-opacity-10 dark:uk-hidden"
            style={{ backgroundImage: 'url("img/gradient-01.png")' }}
            data-uk-img
          >
          </div>
          <div
            class="uk-position-cover uk-background-cover uk-opacity-20 uk-hidden dark:uk-visible"
            style={{ backgroundImage: 'url("img/gradient-01.png")' }}
            data-uk-img
          >
          </div>
        </div>
        <div
          class="uk-panel uk-margin-large-bottom uk-position-z-index"
          data-behavior="gettingStarted"
          style="display: none"
        >
          <div class="uk-container">
            <div>
              <h1>Let's get you set up</h1>
              <p>
                You'll need a few things to get started. Don't worry, it's easy!
              </p>
            </div>
            <div
              class="uk-grid uk-grid-match uk-child-width-1-3@m"
              data-uk-grid
            >
              <div>
                <div
                  id="getFreighter"
                  class="uk-card uk-card-default uk-card-body todo-cards"
                >
                  <div class="uk-card-title-wrapper">
                    <h2 class="uk-card-title">1. Get Freighter</h2>
                    <i
                      id="getFreighterCheck"
                      class="fas fa-check done-icon"
                      style="display: none;"></i>
                  </div>
                  <p>
                    Freighter is a browser extension that lets you interact with
                    the Soroban network.
                  </p>
                  <p>
                    <a class="uk-link-text" href="https://www.freighter.app/"
                      >Get Freighter</a
                    >
                  </p>
                </div>
              </div>
              <div>
                <div
                  id="enableFreighter"
                  class="uk-card uk-card-default uk-card-body todo-cards"
                >
                  <div class="uk-card-title-wrapper">
                    <h2 class="uk-card-title">2. Enable Freighter</h2>
                    <i
                      id="enableFreighterCheck"
                      class="fas fa-check done-icon"
                      style="display: none;"></i>
                  </div>
                  <p>
                    Once you install Freighter, this page will prompt you to
                    connect to it. Say yes!
                  </p>
                </div>
              </div>
              <div>
                <div
                  id="selectFuturenet"
                  class="uk-card uk-card-default uk-card-body todo-cards"
                >
                  <div class="uk-card-title-wrapper">
                    <h2 class="uk-card-title">3. Select Futurenet</h2>
                    <i
                      id="selectFuturenetCheck"
                      class="fas fa-check done-icon"
                      style="display: none;"></i>
                  </div>
                  <ol style="padding: 0 0 0 1em; margin-bottom: 0">
                    <li>
                      Freighter Settings → Preferences, enable Experimental
                      Mode.
                    </li>
                    <li>Select Futurenet network in the top right.</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="uk-panel uk-position-z-index"
          data-behavior="contractPanel"
          style="display: none"
        >
          <div class="uk-container">
            <div>
              <div
                class="uni-minting-item uk-card uk-card-medium uk-card-border uk-card-default uk-height-large@m uk-radius-medium uk-radius-large@m dark:uk-background-white-5"
              >
                <div
                  class="uk-grid uk-grid-small@m uk-flex-column uk-flex-top"
                  data-uk-grid
                >
                  <div class="uk-width-expand@m">
                    <div class="content uk-panel">
                      <div id="userData">
                        <h1>User Info:</h1>
                        <h2>Wallet Address:</h2>
                        <p
                          style="font-size: 22px, overflow: hidden"
                          id="userAddress"
                        >
                        </p>
                        <hr />
                        <div id="publishedContractsWrapper">
                          <h2>Published Contracts:</h2>
                          <div
                            id="publishedContracts"
                            class="uk-table-wrapper uk-overflow-auto uk-table-striped"
                          >
                          </div>
                        </div>
                        <hr />
                        <div id="userContractsWrapper">
                          <h2>Deployed Contracts:</h2>
                          <div
                            id="userContracts"
                            class="uk-table-wrapper uk-overflow-auto uk-table-striped"
                          >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="theme_switcher">
      <div class="wrap uk-overflow-hidden">
        <div
          class="darkmode-trigger uk-position-bottom-right uk-position-small uk-position-fixed uk-box-shadow-large uk-radius-circle"
          data-darkmode-toggle=""
        >
          <label class="switch">
            <span class="sr-only">Dark Mode Toggle</span>
            <input
              data-theme="light"
              class="setColor light"
              id="themeToggle"
              type="checkbox"
            />
            <span class="slider"></span>
            <i id="themeIcon" class="fas"></i>
          </label>
        </div>
      </div>
    </div>
    <footer class="uni-footer uk-section uk-section-xlarge@m">
      <div class="uk-container">
        <div class="uk-panel">
          <hr class="uk-margin-medium uk-margin-3xlarge-top@m" />
          <div class="uk-panel uk-text-small">
            <div
              class="uk-grid uk-child-width-auto@m uk-flex-center uk-flex-between@m uk-text-center uk-text-left@m"
            >
              <div>
                <ul
                  class="social-icons-mobile uk-subnav uk-subnav-small uk-text-muted uk-flex-center"
                  style="display: none;"
                >
                  <li>
                    <a href="https://twitter.com/TENKDAO">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://discord.gg/6fKqnSfr">
                      <i class="fa-brands fa-discord"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/TENK-DAO/smartdeploy-frontend">
                      <i class="fa-brands fa-github-alt"></i>
                    </a>
                  </li>
                </ul>
                <ul
                  class="uk-subnav uk-subnav-small uk-text-muted uk-margin-small-top uk-flex-center"
                >
                  <li>
                    <a href="https://smartdeploy.dev/privacy">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="https://smartdeploy.dev/terms">Terms of Use</a>
                  </li>
                  <li>
                    <a href="https://smartdeploy.dev/contact">Contact Us</a>
                  </li>
                </ul>
              </div>
              <div class="uk-flex-first@m uk-flex-center uk-margin-small-top">
                <p>
                  © {new Date().getFullYear()} SmartDeploy. All rights reserved.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>

  <script src="../js/index.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.16.19/js/uikit.min.js"
    integrity="sha512-/k+FklzAB0pRCCst26dYpLQDMySHzrunntrrT3sMFlGxO6KHEGdzMY0l0hIdsM+q6/0OkfeXgnKdGqPB36uM6w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
</html>
